---
layout: home
bodyClass: home
comments: false
---
<section id="hero">
  <div class="wrapper">
    <article>
      <h2>Hi, I'm Alexey Maslennikov</h2>
      <p>I'm a software consultant from Ulm, Germany</p>
    </article>
    <span class="scroll-down fa-main fa-main-angle-down"></span>
  </div>
</section>

<section id="services" data-midnight="white">
  <div class="wrapper">
    <header>
      <h3>What I do</h3>
      <p>I'm more than just a developer</p>
    </header>
    <div class="content">
      <article class="solutions fa-main fa-main-paper-plane">
        <h3>Software Solutions</h3>
        <p>I have vast experience creating robust and scalable applications
        intended for mass-market use. From safety-relevant embedded systems to
        web media marketplaces and complex APIs, I can work with your team to
        create great products.</p>
      </article>
      <article class="trainings fa-main fa-main-graduation-cap">
        <h3>Training</h3>
        <p>I can help your company get proficient by giving trainings that will
        expand your employee's knowledge by learning both theory about
        languages, frameworks, and methodologies as well as practice with real
        life examples.</p>
      </article>
      <article class="consulting fa-main fa-main-map-signs">
        <h3>Consulting</h3>
        <p>I can work with your company's employees by helping with Software
        Architecture, API Design and Good Practices so that you can achieve a
        maintainable and robust product.</p>
      </article>
    </div>
  </div>
</section>

<section id="projects" data-midnight="white">
  <div class="wrapper">
    <header>
      <h3>Projects I've been involved into</h3>
      <p>Both commercial and open source contrubutions</p>
      <a href="https://github.com/{{site.author.github}}" target="_blank" class="btn-cta secondary"><span class="fa fa-github"></span> Find more on Github</a>
    </header>
    <div class="content">
      <ul>
        {% for project in site.data.projects %}
        <li>
          <a target="_blank" href="{{project.link}}">
            <h6>{{project.technology}}</h6>
            <h5>{{project.title}}</h5>
            <p>{{project.description}}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section id="talks" data-midnight="white">
  <div class="wrapper">
    <header>
      <h3>Talks</h3>
      <p>Sharing knowledge</p>
    </header>
    <div class="content">
      {% for talk in site.data.talks %}
      <article>
        <a target="_blank" href="{{ talk.link }}">
          <h4>{{ talk.title}}</h4>
          <p>{{ talk.description }}</p>
          <span class="more-info">Read more</span>
        </a>
      </article>
      {% endfor %}

    </div>
  </div>
</section>
