<footer id="footer">
  <div class="wrapper">
    <div class="copyright">
      <span>2015 Alexey Maslennikov</span>
    </div>
    <ul>
      <li><a target="_blank" href="https://github.com/{{site.author.github}}" class="fa fa-github"></a></li>
      <li><a target="_blank" href="http://linkedin.com/in/{{site.author.linkedin}}"" class="fa fa-linkedin"></a></li>
      <li><a target="_blank" href="http://xing.to/{{site.author.xing}}"" class="fa fa-xing"></a></li>
      <li><a target="_blank" href="https://twitter.com/{{site.author.twitter}}" class="fa fa-twitter"></a></li>
    </ul>
  </div>
</footer>
