<header id="header">
    <div class="wrapper {% if white %}white{% endif %}">
      <h1><a href="{{site.url}}/" class="backToTop">
        <img class="site-logo" src="{{site.baseurl}}/assets/images/logo/am-64.png" alt="Alexey Maslennikov" caption="Alexey Maslennikov"></img>
      </a></h1>
      <nav>
        <ul>
          <!-- <li><a href="{{site.url}}/blog/">Blog</a></li> -->
          <li><a href="mailto:{{site.author.email}}?subject=Hey%20there%2C%20I%27m%20contacting%20you%20from%20{{site.url | remove:'http://'}}" class="btn-cta">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
