<meta charset="utf-8" />

<title>{{ dyn_title }}</title>
<meta name="description" content="{{ dyn_description}}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

<link rel="canonical" href="{{ dyn_canonical }}">
<link type="application/atom+xml" href="{{ site.url }}/feed.xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<!-- Webmaster tools -->
{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

<!-- Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ dyn_siteimages }}/logo/icon-114.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ dyn_siteimages }}/logo/icon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ dyn_siteimages }}/logo/icon-144.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ dyn_siteimages }}/logo/icon-144.png">

<link rel="mask-icon" href="{{ dyn_siteimages }}/logo/icon-mask.svg" color="#192e43">
<link rel="shortcut icon" type="image/x-icon" href="{{ dyn_siteimages }}/logo/icon-64.png">
