#error404 {
  //compensating for header
  padding-top: 140px;

  .wrapper {
    @include display-flex;
    @include flex-props(row wrap, space-between, flex-start, flex-start);
  }

  .content {
      width: 100%;
      margin: 2em 0;

      .search {
          h1,h2,h3 {
              font-size: 100%;
          }
      }
  }

  article {
    display: block;

    p {
      margin: 10px 0;
      opacity: .7;
    }
  }
}
