#hero {
  background: $hero;
  color: #fff;
  padding: 0;
  position: relative;
  border: none;

  .wrapper {
    min-height: 500px;
    height: 100vh;
    max-height: 900px;
    padding: 10vh 0;
    text-align: center;
    @include display-flex;
    @include flex-props(column nowrap, center, center, center);
  }

  h2 {
    margin: 0 0 .5em;
    font-size: 3em;
    line-height: 1em;
  }
  p {
    font-size: 1.6em;
    line-height: 1.3em;
    opacity: .7;
  }

  .scroll-down {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 95px;
    cursor: pointer;
    font-size: 40px;
    line-height: 60px;
  }
}
