@import url('yui-reset.css');
* {
    border: 0px solid #eee;
    margin: 0;
    padding: 0;
    list-style: none
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    color: #000;

    background: url(./bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #fff;
    outline: 0
}

h1,
.hero,
#menu {
    font-family: "Open Sans", "Century Gothic", "Lucida Grande", Arial, sans-serif;
    color: white;
    text-shadow: 0 1px 1px #000;
    font-weight: 300;
}

h1 {
  font-size: 40px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

#hero-wrapper {
    position: relative;
    top: 20%;
    word-break: break-word;
}

@media only screen and (max-width: 600px) {
  #hero-wrapper {
    top: 15%;
  }
}

#hero-wrapper:after {
  content: '';
  display: block;
  clear:both;
}

#hero-wrapper .spacing {
  float: left;
  width: 110px;
  height: 1px;
}

.hero {
  float: left;
  padding: 20px 40px;
}

@media only screen and (max-width: 600px) {
  .hero {
    background: rgba(0,0,0,0.4);
  }
}

.hero h1 {
  padding-bottom: 1ex;
}

.hero h1 span {
  display: inline-block;
}

.hero a {
    color: #f5d19a;
}
.hero a:hover {
  border-bottom: 1px solid #f5d19a;
}

#menu-wrapper {
    position: absolute;
    bottom: 20px;
    height: 4rem;
    left: 0;
    right: 0;
}

#menu {
  position: relative;
  padding-left: 151px;
  text-shadow: 0 1px 1px #000;
  font-size: .7rem;
}

@media only screen and (max-width: 768px) {
  #menu {
    font-size: .8rem;
  }
}

#menu .block {
  background: rgb(0, 0, 0); /*fallback-ish*/
  background: rgba(0, 0, 0, 0.6);
}

#menu .contacts {
  padding: .5rem .6rem;
}

#menu .contacts ul {
  margin: 0;
  padding: 0;
  width: 10rem;
}

#menu .contacts a {
    line-height: 1.4;
    padding-left: 0;
    margin-left: 0;
    font-weight: bold;
    color: #fff;
    display: block;
}

#menu a:hover {
  color: #f5d19a;
}

#menu .branding {
  position: absolute;
  left: 0;
  height: 100%;
  width: 150px;
}

#menu .branding .logo {
  text-align: right;
  font-size: .665rem;
  padding: .5rem .6rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

#menu .branding  a {
    color: #fff;
}
#menu .branding a:hover {
  color: #f5d19a;
}

h3 {
    position: relative;
    border-bottom-width: 1px;
    padding: 30px 30px 10px 30px;
    margin: 0 -30px 20px -30px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold
}
h3 span {
    position: absolute;
    right: 510px;
    top: 29px;
    background: #000;
    text-align: center;
    padding: 0 5px;
    white-space: nowrap;
    display: block;
    color: #fff;
    font-weight: normal
}
